@font-face {
  font-family: "SansitaSwashed-Black";
  font-display: swap;
  src: url("../fonts/SansitaSwashed-Black.woff") format("woff"), url("../fonts/SansitaSwashed-Black.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SansitaSwashed-Bold";
  font-display: swap;
  src: url("../fonts/SansitaSwashed-Bold.woff") format("woff"), url("../fonts/SansitaSwashed-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "SansitaSwashed-Light";
  font-display: swap;
  src: url("../fonts/SansitaSwashed-Light.woff") format("woff"), url("../fonts/SansitaSwashed-Light.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SansitaSwashed-ExtraBold";
  font-display: swap;
  src: url("../fonts/SansitaSwashed-ExtraBold.woff") format("woff"), url("../fonts/SansitaSwashed-ExtraBold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SansitaSwashed-SemiBold";
  font-display: swap;
  src: url("../fonts/SansitaSwashed-SemiBold.woff") format("woff"), url("../fonts/SansitaSwashed-SemiBold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SansitaSwashed-Regular";
  font-display: swap;
  src: url("../fonts/SansitaSwashed-Regular.woff") format("woff"), url("../fonts/SansitaSwashed-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SansitaSwashed-Medium";
  font-display: swap;
  src: url("../fonts/SansitaSwashed-Medium.woff") format("woff"), url("../fonts/SansitaSwashed-Medium.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

header,
nav,
main,
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  bottom: 0;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-weight: 400;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.header {
  position: absolute;
  width: 100%;
  z-index: 12;
  left: 0;
  background: #25f325;
}

.header .header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 85px;
}

.header .header__logo {
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.header .header__logo img {
  width: 100px;
  height: 100px;
}

.header .menu .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0;
}

.header .menu .menu__list li {
  position: relative;
  padding: 0px 37.5px;
}

.header .menu .menu__list li:nth-child(2) {
  padding: 0px 110px 0px 37.5px;
}

.header .menu .menu__list li:nth-child(3) {
  padding: 0px 37.5px 0px 110px;
}

.header .menu .menu__list li:after {
  content: "";
  width: 2px;
  height: 2px;
  background: #4d4959;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: 50%;
}

.header .menu .menu__list li:nth-child(2)::after,
.header .menu .menu__list li:last-child::after {
  display: none;
}

.header .menu .menu__link {
  color: #ffffff;
  font-size: 13px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-transform: uppercase;
  font-family: Roboto;
}

.t_j {
  text-align: justify;
}

.t_c {
  text-align: center;
}

.footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .footer__container {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .footer__container .top {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0 20px 0;
  border-bottom: 1px solid black;
}

.footer .footer__container .top .left img {
  width: 60px;
  height: 60px;
}

.footer .footer__container .top .right {
  font-size: 20px;
}

.footer .footer__container .bot {
  padding: 10px 0 10px 0;
}

.footer .footer__container .bot img {
  width: 20px;
  height: 20px;
}

.wrapper {
  min-height: 100%;
  background: #25f325;
  font-family: Roboto;
}

.wrapper .page {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper .page .main__section {
  overflow: hidden;
  margin-top: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.wrapper .page .main__section .main__container {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrapper .page .main__section .main__container .container__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 47.333%;
          flex: 0 1 47.333%;
}

.wrapper .page .main__section .main__container .image {
  height: 80vh;
  overflow: hidden;
}

.wrapper .page .main__section .main__container .text p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .page .main__section .main__container .text p span {
  font-family: Roboto;
  margin-left: 20px;
  font-size: 20px;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  color: white;
}

.wrapper .page .main__section .main__container .text p span:after {
  content: "-";
  position: relative;
  bottom: 3px;
  left: 10px;
}

.wrapper .page .main__section .main__container .text p span:nth-child(4)::after {
  display: none;
}

.wrapper .page .main__section .main__container .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper .page .main__section .main__container .text img {
  width: 100px;
  height: 80px;
  margin-left: 20px;
}

.wrapper .page .main__section .main__container .text h1 {
  margin-top: 20px;
  font-size: 90px;
  font-size: calc(20px + 70 * (100vw / 1280));
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  padding-bottom: 50px;
  text-align: center;
}

.wrapper .page .main__section .main__container .text div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 20px;
}

.wrapper .page .main__section .main__container .text div p {
  max-width: 500px;
  font-size: 25px;
  font-size: calc(15px + 10 * (100vw / 1280));
  color: white;
  text-align: center;
  color: white;
}

.wrapper .page .main__section .main__container .text .vote {
  margin: -13px 0 20px 0;
  width: 250px;
  height: 150px;
}

.wrapper .page .info__section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #fff;
  padding: 50px 0 50px 0;
}

.wrapper .page .info__section .container {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper .page .info__section .container .header-info {
  padding: 30px 0 60px 0;
}

.wrapper .page .info__section .container .header-info h1 {
  font-size: 50px;
  font-size: calc(20px + 30 * (100vw / 1280));
  text-transform: uppercase;
  font-weight: 700;
  color: black;
}

.wrapper .page .info__section .container .body-info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.wrapper .page .info__section .container .body-info .body-info-item {
  width: 240px;
  height: 220px;
}

.wrapper .page .info__section .container .body-info .body-info-item .top {
  width: 100%;
  height: 50%;
  background: #2f6cf0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
  text-transform: uppercase;
  color: white;
  font-weight: 700;
}

.wrapper .page .info__section .container .body-info .body-info-item .center {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 10px 0 10px 10px;
}

.wrapper .page .info__section .container .body-info .body-info-item .center small {
  color: black;
}

.wrapper .page .info__section .container .body-info .body-info-item .center p {
  margin: 10px 0 10px 0;
}

.wrapper .page .contacts__section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper .page .contacts__section .contacts__container {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px 0 50px 0;
}

.wrapper .page .contacts__section .contacts__container .header__contacts {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 0 20px 0;
}

.wrapper .page .contacts__section .contacts__container .header__contacts h1 {
  margin-bottom: 40px;
  font-size: 50px;
  font-size: calc(20px + 30 * (100vw / 1280));
  text-transform: uppercase;
  font-weight: 700;
  color: white;
}

.wrapper .page .contacts__section .contacts__container .body__contacts {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrapper .page .contacts__section .contacts__container .contacts {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 49%;
          flex: 0 1 49%;
}

.wrapper .page .contacts__section .contacts__container .left .contact__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.wrapper .page .contacts__section .contacts__container .left .contact__item img {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

.wrapper .page .contacts__section .contacts__container .left .contact__item p {
  font-size: 20px;
  color: white;
  font-weight: 400;
}

.wrapper .page .contacts__section .contacts__container .left .contact__item:first-child {
  margin-top: 0;
}

.wrapper .page .contacts__section .contacts__container .left h1 {
  margin-top: 20px;
  font-size: 40px;
  font-size: calc(15px + 22 * (100vw / 1280));
  color: white;
  text-transform: uppercase;
  font-weight: 600;
}

.wrapper .page .contacts__section .contacts__container .left ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper .page .contacts__section .contacts__container .left ul li {
  margin-top: 20px;
  font-size: 25px;
  font-size: calc(15px + 10 * (100vw / 1280));
  color: white;
}

.wrapper .page .contacts__section .contacts__container .left ul li::before {
  content: "\2713";
  width: 23px;
  height: 25px;
  background: white;
  color: black;
  border: 1px solid yellow;
  margin-right: 10px;
  display: inline-block;
}

.wrapper .page .contacts__section .contacts__container .right {
  height: 650px;
  overflow: hidden;
  position: relative;
}

.wrapper .page .contacts__section .contacts__container .right img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.wrapper .page .message__section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px 0 50px 0;
  background: #e4e0e0;
}

.wrapper .page .message__section .message__container {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper .page .message__section .message__container h1 {
  font-size: calc(20px + 30 * (100vw / 1280));
  text-transform: uppercase;
  font-weight: 700;
}

.wrapper .page .message__section .message__container form {
  margin-top: 50px;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper .page .message__section .message__container form .text__fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper .page .message__section .message__container form .text__fields label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 20px;
  font-size: 20px;
  text-transform: uppercase;
  color: rgba(128, 128, 128, 0.637);
}

.wrapper .page .message__section .message__container form .text__fields label input {
  margin-top: 10px;
  height: 35px;
  width: 300px;
  border: 1px solid rgba(128, 128, 128, 0.637);
}

.wrapper .page .message__section .message__container form .text__fields label:first-child {
  margin-left: 0;
}

.wrapper .page .message__section .message__container form .textar {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 20px;
  text-transform: uppercase;
  color: rgba(128, 128, 128, 0.637);
}

.wrapper .page .message__section .message__container form .textar textarea {
  width: 620px;
  height: 250px;
  border: 1px solid rgba(128, 128, 128, 0.637);
}

.wrapper .page .message__section .message__container form button {
  margin-top: 20px;
  width: 620px;
  padding: 10px 30px 10px 30px;
  background: #15e715;
  color: white;
}

@media (max-width: 1000px) {
  .wrapper .page .main__section .main__container .image {
    display: none;
  }

  .wrapper .page .main__section .main__container .text {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .wrapper .page .main__section .main__container .text p {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .wrapper .page .main__section .main__container .text p span {
    margin-top: 20px;
  }

  .wrapper .page .main__section .main__container .text p span:after {
    display: none;
  }

  .wrapper .page .info__section .container .body-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .wrapper .page .contacts__section .contacts__container .body__contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .wrapper .page .contacts__section .contacts__container .contacts {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .wrapper .page .contacts__section .contacts__container .left .contact__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .wrapper .page .contacts__section .contacts__container .left .contact__item img {
    margin-right: 0;
  }

  .wrapper .page .contacts__section .contacts__container .left .contact__item p {
    margin-top: 10px;
  }

  .wrapper .page .contacts__section .contacts__container .left h1 {
    text-align: center;
  }

  .wrapper .page .contacts__section .contacts__container .left ul {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .wrapper .page .contacts__section .contacts__container .right {
    height: 400px;
  }
}

@media (max-width: 767px) {
  .header .header__logo {
    position: fixed;
    left: 50%;
    top: 0px;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }

  .header .menu .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: -1000px;
    left: 0;
    background: #4d4959;
    padding: 150px 0 0 0;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }

  .header .menu .menu__body.active {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #4d4959;
    padding: 150px 0 0 0;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }

  .header .menu .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    justify-self: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .header .menu .menu__list li {
    padding: 0 0 20px 0 !important;
  }

  .header .menu .menu__list li:nth-child(2)::after,
  .header .menu .menu__list li:last-child::after {
    display: block;
  }

  .header .menu .menu__list li:after {
    content: "";
    width: 2px;
    height: 2px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    right: 50%;
    top: 40px;
    margin: -10px 0 0 0;
  }

  .header .menu .menu__link {
    color: #fff;
    font-size: 20px;
  }

  body.lock {
    overflow: hidden;
  }

  .icon__menu {
    display: block;
    position: fixed;
    top: 30px;
    right: 30px;
    width: 30px;
    height: 18px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    z-index: 5;
  }

  .icon__menu span {
    position: absolute;
    top: 8px;
    left: 0;
    width: 100%;
    height: 2px;
    background: black;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .icon__menu span:first-child {
    top: 0px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .icon__menu span:last-child {
    top: 16px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .icon__menu.active span {
    background: white;
  }

  .icon__menu.active span {
    display: none;
  }

  .icon__menu.active span:first-child {
    top: 10px;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    display: block;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .icon__menu.active span:last-child {
    top: 10px;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    display: block;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .wrapper .page .message__section .message__container form .text__fields {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .wrapper .page .message__section .message__container form .text__fields label {
    margin-left: 0;
  }

  .wrapper .page .message__section .message__container form .textar textarea {
    width: 400px;
  }

  .wrapper .page .message__section .message__container form button {
    width: 400px;
  }
}

@media (max-width: 467px) {
  .wrapper .page .message__section .message__container form .textar textarea {
    width: 300px;
  }

  .wrapper .page .message__section .message__container form button {
    width: 300px;
  }
}
@supports (-webkit-appearance:none){

}

 @media (max-width: 1000px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 767px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 467px){

@supports (-webkit-appearance:none){

}

}
